$white-1: #fff;
$white-2: rgba(255, 255, 255, 0.5);
$white-3: #f3f2f0;
$white-4: rgba(255, 255, 255, 0.75);
$black-1: #000;
$black-2: #331303;
$grey-1: #777777;
$purple-1: #755ecc;
$yellow-1: #ffd80d;
$yellow-2: #f0b700;
$yellow-3: #febf47;
$yellow-4: #ffcd75;
$yellow-5: rgba(255, 170, 18, 0.72);
$yellow-6: #fce07f;
$green-1: rgba(18, 171, 15, 1);
$blue-1: #399ffe;
$oranger-1: #fdc927;
$orange-2: rgba(253, 238, 206, 0.2);
$orange-3: rgba(253, 238, 206, 0.5);
$shadow-1: rgba(0, 0, 0, 0.25);
$overlay: rgba(0, 0, 0, 0.4);
$overlay-1: rgba(0, 0, 0, 0.9);
