@font-face {
  font-family: MochiyPopPOne-Regular;
  src: url("../fonts/MochiyPopPOne-Regular.ttf");
}
@font-face {
  font-family: LilitaOne-Regular;
  src: url("../fonts/LilitaOne-Regular.ttf");
}
@font-face {
  font-family: NotoKufiArabic-SemiBold;
  src: url("../fonts/NotoKufiArabic-SemiBold.ttf");
}
@font-face {
  font-family: Khebrat-Musamim-Bold;
  src: url("../fonts/Khebrat-Musamim-Bold.ttf");
}
@font-face {
  font-family: DG-3asomy-Regular;
  src: url("../fonts/DG-3asomy-Regular.ttf");
}